*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.check-container{
    display: flex;
    margin: 10px;
    font-size: 1.5rem;
}
.check{
    color: rgb(138, 138, 138);
    width: 45px;
    height: 45px;
    cursor: pointer;
    font-size: 2.5rem;
}
.checked{
    color: rgb(131, 20, 20);
}